@media (prefers-color-scheme: light) {
  body {
    background-image: linear-gradient(
      to top,
      #c9c9c9,
      #cfcfcf,
      #d5d5d5,
      #dbdbdb,
      #e1e1e1
    );
  }
  h1 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(75, 75, 75));
  }
  h2 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(75, 75, 75));
  }
  a {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(75, 75, 75));
  }
  .golang {
    background: -webkit-linear-gradient(rgb(10, 160, 201), rgb(2, 203, 239));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Sans", sans-serif;
    text-align: center;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  h1 {
    background: -webkit-linear-gradient(#eee, rgb(202, 202, 202));
  }
  h2 {
    background: -webkit-linear-gradient(#eee, rgb(202, 202, 202));
  }
  a {
    background: -webkit-linear-gradient(#eee, rgb(202, 202, 202));
  }
  .golang {
    background: -webkit-linear-gradient(rgb(2, 203, 239), rgb(10, 160, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Sans", sans-serif;
    text-align: center;
  }
}

h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Syne", sans-serif;
  text-align: center;
}

h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

a {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.intro {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 3.8em;
}

.container {
  font-size: 3.3em;
  text-align: center;
  margin-bottom: 1%;
}

.abouttext {
  font-size: 2.7em;
}

.connect {
  font-size: 2.8em;
}

.about {
  font-size: 2.8em;
}
